.contenttitle {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 1000px;
    color: black; 
    font-size: 30px;
    text-indent: 100px;
  }


.contenttitle div:nth-child(2) {
    font-size: 17px;
    color: gray;
    text-align: left;
 }

 .contenttitle div:nth-child(3) {
  font-size: 13px;
  color: grey;
}

.contenttitle div:nth-child(3) img {
  width: 300px;    
}