.author {
    font-size: 18px;
    color: lightskyblue;
   
    margin-top: 30px;
    margin-left: 100px; 
    border: 1px solid rgb(229, 229, 229);
    width: 740px;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
 }

 .author h4 {
    font-size: 18px;
    color: lightskyblue;
  
 }