.subnav {
    list-style: none;
    display: flex;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
    background-color: #fbfbfd;
    font-size: 14px;
    color: rgb(9, 92, 143);
  }

  .subnav div:nth-child(2) {
    font-size: 14px;
  }

  .subnav div:nth-child(4) {
    font-size: 14px;
    color: black;
  }
  

