.links-container  {
    margin-left: 350px;
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;   
 }

.links-container h3 {
    font-size: 11px;
    font-weight: 100;
    color: gray;
    line-height: 200%;
}

.links-container a {
    color: grey;
}

.links-container a:hover {
    color: blue;
 }


.button-container {
    visibility: hidden;
}