footer {
  padding: 2rem;
  background-color: #eee;
  font-size: 14px;
  text-align: center;
  color: gray;
  padding-top: 65px;
  border: 1px solid rgb(174, 173, 173);
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .footer img {
  float: left; margin: 0px -75px 15px 0px;
}

footer .footer a:any-link {
  color: gray;
}