.contentsection {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 800px;
    padding: 15px;
  }


.contentsection :first-child {
    font-size: 15px;
 }

