.contentsection {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 770px;
    padding-left: 110px;
    
  }


.contentsection :first-child {
    font-size: 15px;
 }

 .contentsection div:nth-child(2) {
  padding-bottom: 0px;
}

.contentsection div:nth-child(3) {
  padding-top: 0px;
}